-# Definition list -----------------------------------------------------------
%p Alternative, horizontal <code>dl</code> layout is available. To get this type of <code>dl</code> list, <code>.dl-horizontal</code> class should be applied.

-# Example
= featureExample do
  %dl.dl-horizontal
    %dt This is a term.
    %dd This is the definition of that term, which both live in a <code>dl</code>.
    %dt Here is another term.
    %dd And it gets a definition too, which is this line.
    %dt Here is term that shares a definition with the term below.
    %dt Here is a defined term.
    %dd <code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.
-# /Example

-# Code
= featureCode do
  :numcode
    <dl class="dl-horizontal">
      <dt>This is a term.</dt>
      <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
    </dl>
-# /Code