-# Unstyled list -------------------------------------------------------------
%p In some situations, lists should have no type styles or any margins/paddings. In this case <code>.list-unstyled</code> class may be applied to the <code>ul</code> element.

-# Example
= featureExample do
  %ul.list-unstyled
    %li England
    %li Scotland
    %li Wales
    %li Northern Ireland
-# /Example

-# Code
= featureCode do
  :numcode
    <ul class="list-unstyled">
      <li>England</li>
      <li>Scotland</li>
      <li>Wales</li>
      <li>Northern Ireland</li>
    </ul>
-# /Code
