-# Intro - test =====================================================================
%p This document outlines whole range of common HTML elements and entities which can be used in page structure.
%p The main purpose of this document, is to provide code samples of HTML elements, as well as to help to build unified and precise design across all HTML system aspects.

%hr


-# Typography ================================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-typography' } Typography
  %p.styleguide-section--description Typography - is very important part of every written piece of text. Its main role is to structure content in visual appealing way, to provide ability to read text comfortably, and understand the meaning of this information. Beside visual matter, typography is very important part of any HTML markup, which in its turn is necessary part of every Web document.
  =partial( 'styleguide/elements/typography' )

-# Lists =====================================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-lists' } Lists
  %p.styleguide-section--description There are several list types you may use in markup, <abbr title="Unordered List">ul</abbr>, <abbr title="Ordered List">ol</abbr> and <abbr title="Definition List">dl</abbr>.
  =partial( 'styleguide/elements/lists' )

-# Typographic helpers =======================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-type-helpers' } Typographic helpers
  %p.styleguide-section--description The typographic helpers, allows you to deliver even more styling solutions for your documents.
  =partial( 'styleguide/elements/helpers/typographic' )

-# Forms =====================================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-forms' } Forms
  %p.styleguide-section--description A webform on a web page allows a user to enter data that is sent to a server for processing. Webforms resemble paper or database forms because internet users fill out the forms using checkboxes, radio buttons, or text fields. For example, webforms can be used to enter shipping or credit card data to order a product or can be used to retrieve data (e.g., searching on a search engine).
  =partial( 'styleguide/elements/forms' )

-# Tables ====================================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-tables' } Tables
  .styleguide-section--description
    %p Tables should be used when displaying tabular data. The <code>thead</code>, <code>tfoot</code> and <code>tbody</code> elements enable you to group rows within each table.
    %p If you use these elements, you must use every element. They should appear in this order: <code>thead</code>, <code>tfoot</code> and <code>tbody</code>, so that browsers can render the foot before receiving all the data. You must use these tags within the table element.
  =partial( 'styleguide/elements/tables' )

-# Media =====================================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-media' } Media
  %p.styleguide-section--description Media elements are represent different rich media content, which can include images, video and audio elements etc.
  =partial( 'styleguide/elements/media' )

-# Page elements =============================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-elements' } Page elements
  %p.styleguide-section--description There are whole bunch of different, useful elements, which may be used by a user. This provides the ability to add some additional attention to a specific content area or format it in very different ways.
  =partial( 'styleguide/elements/elements' )

-# Helpers ===================================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-helpers' } Page helpers
  %p.styleguide-section--description Helper classes allow you to add some helpful properties to specific elements on the page. For example, it's possible to pull image (or other element) to left, right or align it to the center by applying special align (pulls) classes. Each helper class has a description and use-case example.
  =partial( 'styleguide/elements/helpers/page' )

-# Grid system ===============================================================
.styleguide-section
  %h3{ :class => 'styleguide-section--title', :id => 'styleguide-section-grid' } Grid
  %p.styleguide-section--description The default grid system is 12-column grid. Grid can be combined from different cell classes for flexible layouts.
  =partial( 'styleguide/elements/grid' )


-# Copyrights ================================================================
.styleguide-copy
  %p Parts of this markup guide attributable to <a href="http://www.mezzoblue.com/downloads/markupguide/" title="Markup Guide">Dave Shea</a>, <a href="http://paulrobertlloyd.com/" title="Paul Robert Lloyd's website">Paul Robert Lloyd</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap, from Twitter</a>, and licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/" title="CC Licence">Creative Commons License</a>.