-# Regular grid --------------------------------------------------------------
%p Grid cell can be combined in different variations. Make sure you combine cells within <code>.grid-row</code> container.

.grid-row
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1
  .grid-span-1
    %span.show-grid 1

.grid-row
  .grid-span-2
    %span.show-grid 2
  .grid-span-2
    %span.show-grid 2
  .grid-span-2
    %span.show-grid 2
  .grid-span-2
    %span.show-grid 2
  .grid-span-2
    %span.show-grid 2
  .grid-span-2
    %span.show-grid 2

.grid-row
  .grid-span-3
    %span.show-grid 3
  .grid-span-3
    %span.show-grid 3
  .grid-span-3
    %span.show-grid 3
  .grid-span-3
    %span.show-grid 3

.grid-row
  .grid-span-4
    %span.show-grid 4
  .grid-span-4
    %span.show-grid 4
  .grid-span-4
    %span.show-grid 4

.grid-row
  .grid-span-6
    %span.show-grid 6
  .grid-span-6
    %span.show-grid 6

.grid-row
  .grid-span-5
    %span.show-grid 5
  .grid-span-7
    %span.show-grid 7


.grid-row
  .grid-span-4
    %span.show-grid 4
  .grid-span-8
    %span.show-grid 8

.grid-row
  .grid-span-3
    %span.show-grid 3
  .grid-span-9
    %span.show-grid 9

.grid-row
  .grid-span-2
    %span.show-grid 2
  .grid-span-10
    %span.show-grid 10

.grid-row
  .grid-span-1
    %span.show-grid 1
  .grid-span-11
    %span.show-grid 11

.grid-row
  .grid-span-12
    %span.show-grid 12

-# Code
= featureCode do
  :numcode
    <div class="grid-row">
      <div class="grid-span-6">Cell content...</div>
      <div class="grid-span-6">Cell content...</div>
    </div>
-# /Code