-# Visibility helpers
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-helpers-visibility' } Visibility classes
=partial( 'styleguide/elements/helpers/page/visibility' )

%hr

-# Floats helpers
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-helpers-floats' } Floats
=partial( 'styleguide/elements/helpers/page/floats' )