-# Dropcaps
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-helpers-dropcaps' } Dropcaps
=partial( 'lib/elements/helpers/typographic/dropcaps' )



-# Fancy headers
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-helpers-fancy-header' } Fancy headers
=partial( 'lib/elements/helpers/typographic/headers-fancy' )



-# Sub headers
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-helpers-sub-header' } Sub headers
=partial( 'lib/elements/helpers/typographic/subheaders' )



-# Lead text
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-helpers-lead-text' } Lead text
=partial( 'lib/elements/helpers/typographic/lead-text' )



-# Soft text
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-helpers-contextual-text' } Contextual text styles
=partial( 'lib/elements/helpers/typographic/text-contextual' )