-# Tooltips ------------------------------------------------------------------
%p Tooltips are a quick way to provide extended information on a term or action on a page. You can apply the <code>tool-tip</code> class to any element. Also tooltip orientation may be changed by applying one of the following classes - <code>.tool-tip-top</code>, <code>.tool-tip-right</code>, <code>.tool-tip-bottom</code>, <code>.tool-tip-left</code>.

-# Example
= featureExample do
  %p Hi, let's take a look at the tool-tips examples. First one is <strong><span class="tool-tip-top" title="Oh my, I'm content from the title attribute">Top tool-tip</span></strong>, here is the next one, this time this is the <strong><span class="tool-tip-right" title="Right side this time">Right tool-tip</span></strong>, it's turn for <strong><span class="tool-tip-bottom" title="Bottom tool-tip title">Bottom tool-tip</span></strong> and last but not least <strong><span class="tool-tip-left" title="Left tool-tip title">Left tool-tip</span></strong>. Guess what, the content of tool-tips are set in title attribute.
-# /Example

-# Code
= featureCode do
  :numcode
    <span class="tool-tip-top" title="Tool-tip content">Tool-tip example</span>
-# /Code