-# Boxes
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-boxes' } Boxes
=partial( 'lib/elements/elements/boxes' )

%hr

-# Alerts
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-alerts' } Alerts
=partial( 'lib/elements/elements/alerts' )

%hr

-# Buttons
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-buttons' } Buttons
=partial( 'lib/elements/elements/buttons' )

%hr

-# Inline labels
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-labels' } Inline Labels
=partial( 'lib/elements/elements/labels' )

%hr

-# Progress bars
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-progress-bars' } Progress Bars
=partial( 'lib/elements/elements/progress-bars' )

%hr

-# Tooltips
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-tool-tips' } Tooltips
=partial( 'lib/elements/elements/tooltips' )

%hr

-# Dividers
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-dividers' } Dividers
=partial( 'lib/elements/elements/dividers' )

%hr

-# Icons
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-icons' } Icons
=partial( 'lib/elements/elements/icons' )

%hr

-# Accorion
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-accordion' } Accordion
=partial( 'lib/elements/elements/accordion' )

%hr

-# Toggle
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-toggle' } Toggle
=partial( 'lib/elements/elements/toggle' )

%hr

-# Tabs
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-tabs' } Tabs
=partial( 'lib/elements/elements/tabs' )

%hr

-# Pricing table
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-pricing' } Pricing table
=partial( 'lib/elements/elements/pricing-table' )

%hr

-# Pager
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-pager' } Pager
=partial( 'lib/elements/elements/pager' )

%hr

-# Paging
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-paging' } Paging
=partial( 'lib/elements/elements/paging' )

%hr

-# Testimonials
%h4{ :class => 'styleguide-section--sub-title', :id => 'styleguide-section-elements-testimonials' } Testimonials
=partial( 'lib/elements/elements/testimonials' )