-# Regular grid
%h4.styleguide-section--sub-title Standard responsive grid
=partial( 'styleguide/elements/grid/grid' )

%hr

-# Grid offsets
%h4.styleguide-section--sub-title Grid offsets
=partial( 'styleguide/elements/grid/grid-offset' )

%hr

-# Grid nesting
%h4.styleguide-section--sub-title Grid nesting
=partial( 'styleguide/elements/grid/grid-nested' )

%hr

-# Mobile grid
%h4.styleguide-section--sub-title Mobile grid
=partial( 'styleguide/elements/grid/grid-mobile' )