-# Ordered list
%h4.styleguide-section--sub-title Ordered list
=partial( 'styleguide/elements/lists/ol' )



-# Unordered list
%h4.styleguide-section--sub-title Unordered list
=partial( 'styleguide/elements/lists/ul' )



-# Prestyled list
%h4.styleguide-section--sub-title Prestyled list
=partial( 'styleguide/elements/lists/prestyled' )



-# Unstyled list
%h4.styleguide-section--sub-title Unstyled list
=partial( 'styleguide/elements/lists/unstyled' )



-# Definition list
%h4.styleguide-section--sub-title Definition list
=partial( 'styleguide/elements/lists/dl' )