-# Images
%h4.styleguide-section--sub-title Images
=partial 'styleguide/elements/media/img'

-# Figures
%h4.styleguide-section--sub-title Figures
=partial 'styleguide/elements/media/figure'

-# Audio
%h4.styleguide-section--sub-title Audio
=partial 'styleguide/elements/media/audio'

-# Video
%h4.styleguide-section--sub-title Video
=partial 'styleguide/elements/media/video'

-# Sliders
%h4.styleguide-section--sub-title Sliders
=partial 'styleguide/elements/media/sliders'