-# Table regular
%h4.styleguide-section--sub-title Table regular
=partial( 'lib/elements/tables/table' )


-# Table striped
%h4.styleguide-section--sub-title Table Striped
=partial( 'lib/elements/tables/table-striped' )


-# Table bordered
%h4.styleguide-section--sub-title Table Bordered
=partial( 'lib/elements/tables/table-bordered' )


-# Table condensed
%h4.styleguide-section--sub-title Table Condensed
=partial( 'lib/elements/tables/table-condensed' )


-# Table hover
%h4.styleguide-section--sub-title Table with hover state
=partial( 'lib/elements/tables/table-hover' )


-# Table background
%h4.styleguide-section--sub-title Table with background color
=partial( 'lib/elements/tables/table-background' )


-# Table responsive
%h4.styleguide-section--sub-title Table Responsive
=partial( 'lib/elements/tables/table-responsive' )