-# Headings
%h4.styleguide-section--sub-title Headings
=partial( 'lib/elements/typography/headings' )



-# Paragraphs
%h4.styleguide-section--sub-title Paragraphs
=partial( 'lib/elements/typography/p' )



-# Horizontal rule
%h4.styleguide-section--sub-title Horizontal rule
=partial( 'lib/elements/typography/hr' )



-# Blockquotes
%h4.styleguide-section--sub-title Blockquotes
=partial( 'lib/elements/typography/blockquotes' )



-# Address
%h4.styleguide-section--sub-title Address
=partial( 'lib/elements/typography/address' )



-# Links
%h4.styleguide-section--sub-title Links and anchors
=partial( 'lib/elements/typography/link' )


-# Stressed emphasis
%h4.styleguide-section--sub-title Stressed emphasis
=partial( 'lib/elements/typography/em' )



-# Strong importance
%h4.styleguide-section--sub-title Strong importance
=partial( 'lib/elements/typography/strong' )



-# Small print
%h4.styleguide-section--sub-title Small print
=partial( 'lib/elements/typography/small' )



-# Strikethrough
%h4.styleguide-section--sub-title Strikethrough
=partial( 'lib/elements/typography/s' )



-# Citations
%h4.styleguide-section--sub-title Citations
=partial( 'lib/elements/typography/cite' )



-# Inline quotes
%h4.styleguide-section--sub-title Inline quotes
=partial( 'lib/elements/typography/q' )



-# Definition
%h4.styleguide-section--sub-title Definition
=partial( 'lib/elements/typography/dfn' )



-# Abbreviation
%h4.styleguide-section--sub-title Abbreviation
=partial( 'lib/elements/typography/abbr' )



-# Time
%h4.styleguide-section--sub-title Time
=partial( 'lib/elements/typography/time' )



-# Pre-formatted text
%h4.styleguide-section--sub-title Pre-formatted text
=partial( 'lib/elements/typography/pre' )



-# Code
%h4.styleguide-section--sub-title Code
=partial( 'lib/elements/typography/code' )



-# Variable
%h4.styleguide-section--sub-title Variable
=partial( 'lib/elements/typography/var' )


-# Sample output
%h4.styleguide-section--sub-title Sample output
=partial( 'lib/elements/typography/samp' )



-# Keyboard entry
%h4.styleguide-section--sub-title Keyboard entry
=partial( 'lib/elements/typography/kbd' )



-# Superscript and subscript text
%h4.styleguide-section--sub-title Superscript and subscript text
=partial( 'lib/elements/typography/sub_sup' )



-# Italicised
%h4.styleguide-section--sub-title Italicised
=partial( 'lib/elements/typography/i' )



-# Emboldened
%h4.styleguide-section--sub-title Emboldened
=partial( 'lib/elements/typography/b' )



-# Marked or highlighted text
%h4.styleguide-section--sub-title Marked or highlighted text
=partial( 'lib/elements/typography/mark' )



-# Edits
%h4.styleguide-section--sub-title Edits
=partial( 'lib/elements/typography/edits' )