-# Form input sizes ----------------------------------------------------------

-# Example
= featureExample do
  %p
    %input.form-input-size-mini{ :id => 'input-size-1', :type => 'text', :placeholder => 'Mini' }
  %p
    %input.form-input-size-small{ :id => 'input-size-2', :type => 'text', :placeholder => 'Small' }
  %p
    %input.form-input-size-medium{ :id => 'input-size-3', :type => 'text', :placeholder => 'Medium' }
  %p
    %input.form-input-size-large{ :id => 'input-size-4', :type => 'text', :placeholder => 'Large' }
  %p
    %input.form-input-size-xlarge{ :id => 'input-size-5', :type => 'text', :placeholder => 'Extra Large' }
  %p
    %input.form-input-size-xxlarge{ :id => 'input-size-6', :type => 'text', :placeholder => 'X-Extra Large' }
  %p
    %input.form-input-size-wide{ :id => 'input-size-7', :type => 'text', :placeholder => 'Wide - 100%' }
-# /Example


-# Code
= featureCode do
  :numcode
    <input class="form-input-size-mini" />
    <input class="form-input-size-small" />
    <input class="form-input-size-medium" />
    <input class="form-input-size-large" />
    <input class="form-input-size-xlarge" />
    <input class="form-input-size-xxlarge" />
    <input class="form-input-size-wide" />
-# /Code