-# Submit --------------------------------------------------------------------
%p
  The input element with a type attribute whose value is "submit" represents a button for submitting a form.
  %br
  %a{ :href => 'http://www.w3.org/TR/html-markup/input.submit.html', :title => 'Input type submit description'} Read more...

-# Example
= featureExample do
  .grid-row
    .grid-span-6.grid-mobile-span-2
      %input.btn{ :type => 'submit', :value => 'Submit (Normal)' }

    .grid-span-6.grid-mobile-span-2
      %input.btn{ :type => 'submit', :value => 'Submit (Disabled)', :disabled => 'disabled' }
-# /Example

-# Code
= featureCode do
  :numcode
    <input class="btn" type="submit" value="Submit" />
-# /Code