-# Password ------------------------------------------------------------------
%p
  The input element with a type attribute whose value is "password" represents a one-line plain-text edit control for entering a password.
  %br
  %a{ :href => 'http://www.w3.org/TR/html-markup/input.password.html', :title => 'Input type password description'} Read more...

-# Example
= featureExample do
  .grid-row
    .grid-span-6.grid-mobile-span-2
      %label{ :for => 'form-elements-8' } Password <strong>(Normal)</strong>
      %br
      %input{ :id => 'form-elements-8', :name => 'form-elements-8', :type => 'password', :placeholder => 'Alphanumeric123!' }

    .grid-span-6.grid-mobile-span-2
      %label{ :for => 'form-elements-8-dis' } Password <strong>(Disabled)</strong>
      %br
      %input{ :id => 'form-elements-8-dis', :name => 'form-elements-8-dis', :type => 'password', :placeholder => 'Alphanumeric123!', :disabled => 'disabled' }
-# /Example

-# Code
= featureCode do
  :numcode
    <input id="input-id" name="input-name" type="password" placeholder="Alphanumeric123!" />
-# /Code