-# Checkboxes ----------------------------------------------------------------
%p
  The input element with a type attribute whose value is "checkbox" represents a state or option that can be toggled.
  %br
  %a{ :href => 'http://www.w3.org/TR/html-markup/input.checkbox.html#input.checkbox', :title => 'Checkbox description'} Read more...

-# Example
= featureExample do
  .grid-row
    .grid-span-6.grid-mobile-span-2
      %strong Normal state

      %br

      %input{ :id => 'form-elements-1-1', :name => 'form-elements-1-1', :type => 'checkbox' }
      %label{ :for => 'form-elements-1-1' } Test checkbox 1

      %br

      %input{ :id => 'form-elements-1-2', :name => 'form-elements-1-2', :type => 'checkbox' }
      %label{ :for => 'form-elements-1-2' } Test checkbox 2

      %br

      %input{ :id => 'form-elements-1-3', :name => 'form-elements-1-3', :type => 'checkbox' }
      %label{ :for => 'form-elements-1-3' } Test checkbox 3

    .grid-span-6.grid-mobile-span-2
      %strong Disabled

      %br

      %input{ :id => 'form-elements-1-1-dis', :name => 'form-elements-1-1-dis', :type => 'checkbox', :disabled => 'disabled' }
      %label{ :for => 'form-elements-1-1-dis' } Test checkbox 1

      %br

      %input{ :id => 'form-elements-1-2-dis', :name => 'form-elements-1-2-dis', :type => 'checkbox', :disabled => 'disabled' }
      %label{ :for => 'form-elements-1-2-dis' } Test checkbox 2

      %br

      %input{ :id => 'form-elements-1-3-dis', :name => 'form-elements-1-3-dis', :type => 'checkbox', :disabled => 'disabled' }
      %label{ :for => 'form-elements-1-3-dis' } Test checkbox 3
-# Example

-# Code
= featureCode do
  :numcode
    <input id="input-id" name="input-name" type="checkbox" />
    <label for="input-id-reference">Test checkbox 1</label>
    <br />
    <input id="input-id" name="input-name" type="checkbox" />
    <label for="input-id-reference">Test checkbox 2</label>
    <br />
    <input id="input-id" name="input-name" type="checkbox" />
    <label for="input-id-reference">Test checkbox 3</label>
-# /Code