-# Date ----------------------------------------------------------------------
%p
  The input element with a type attribute whose value is "date" represents a control for setting the element’s value to a string representing a date.
  %br
  %a{ :href => 'http://www.w3.org/TR/html-markup/input.date.html', :title => 'Input type date description'} Read more...

-# Example
= featureExample do
  .grid-row
    .grid-span-6.grid-mobile-span-2
      %label{ :for => 'form-elements-13' } Date <strong>(Normal)</strong>
      %br
      %input{ :id => 'form-elements-13', :name => 'form-elements-13', :type => 'date' }

    .grid-span-6.grid-mobile-span-2
      %label{ :for => 'form-elements-13-dis' } Date <strong>(Disabled)</strong>
      %br
      %input{ :id => 'form-elements-13-dis', :name => 'form-elements-13-dis', :type => 'date', :disabled => 'disabled' }
-# /Example

-# Code
= featureCode do
  :numcode
    <input id="input-id" name="input-name" type="date" />
-# /Code