-# Table striped -------------------------------------------------------------
%p Get a little fancy with your tables by adding zebra-striping—just add the <code>.table-striped</code> class.
%p <strong>Note:</strong> Striped tables use the <code>:nth-child</code> CSS selector and is not available in IE7-IE8.

-# Example
= featureExample do
  %table.table-striped
    =partial( 'styleguide/elements/tables/table-source' )
-# /Example

-# Code
= featureCode do
  :numcode
    <table class="table-striped">
      ...
    </table>
-# /Code