-# Table condensed -----------------------------------------------------------
%p Make your tables more compact by adding the <code>.table-condensed</code> class to cut table cell padding in half.

-# Example
= featureExample do
  %table.table-condensed
    =partial( 'lib/elements/tables/table-source' )
-# /Example

-# Code
= featureCode do
  :numcode
    <table class="table-condensed">
      ...
    </table>
-# /Code