-# Table responsive ------------------------------------------------------------
%p Responsive tables shrink on small devices without sacrificing the value of tables, comparison of columns.

-# Example
= featureExample do
  %table.responsive
    =partial( 'styleguide/elements/tables/table-source' )
-# /Example

-# Code
= featureCode do
  :numcode
    <table class="responsive">
      ...
    </table>
-# /Code