-# Table hover ---------------------------------------------------------------
%p Enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.

-# Example
= featureExample do
  %table.table-hover
    =partial( 'lib/elements/tables/table-source' )
-# /Example

-# Code
= featureCode do
  :numcode
    <table class="table-hover">
      ...
    </table>
-# /Code