-# Table regular -------------------------------------------------------------
%p Defaut tables are automatically styled with only a few borders to ensure readability and maintain.

-# Example
= featureExample do
  %table
    =partial( 'styleguide/elements/tables/table-source' )
-# /Example

-# Code
= featureCode do
  :numcode
    <table>
      ...
    </table>
-# /Code