-# Table with background -----------------------------------------------------
%p You can add background to highlight table little bit more. Just add <code>.table-background</code> class to desired table and you are set.

-# Example
= featureExample do
  %table.table-background
    =partial( 'lib/elements/tables/table-source' )
-# /Example

-# Code
= featureCode do
  :numcode
    <table class="table-background">
      ...
    </table>
-# /Code