-# Table bordered ------------------------------------------------------------
%p Add borders around the entire table for aesthetic purposes.

-# Example
= featureExample do
  %table.table-bordered
    =partial( 'styleguide/elements/tables/table-source' )
-# /Example

-# Code
= featureCode do
  :numcode
    <table class="table-bordered">
      ...
    </table>
-# /Code