-# Abbreviation --------------------------------------------------------------
%p The <code>abbr</code> element is used for any abbreviated text, whether it be acronym, initialism, or otherwise. Generally, it's less work and useful (enough) to mark up only the first occurrence of any particular abbreviation on a page, and ignore the rest. Any text in the <code>title</code> attribute will appear when the user's mouse hovers the abbreviation (although notably, this does not work in Internet Explorer for Windows).

-# Example
= featureExample do
  %p <abbr title="British Broadcasting Corportation">BBC</abbr>, <abbr title="HyperText Markup Language">HTML</abbr>, and <abbr title="Staffordshire">Staffs.</abbr>
-# /Example

-# Code
= featureCode do
  :numcode
    <abbr title="British Broadcasting Corportation">BBC</abbr>
-# /Code