-# Emboldened ----------------------------------------------------------------
%p The <code>b</code> element is used for text stylistically offset from normal prose without conveying extra importance, such as key words in a document abstract, product names in a review, or other spans of text whose typographic presentation is typically emboldened.

-# Example
= featureExample do
  %p You enter a small room. Your <b>sword</b> glows brighter. A <b>rat</b> scurries past the corner wall.
-# /Example

-# Code
= featureCode do
  :numcode
    You enter a small room. Your <b>sword</b> glows brighter. A <b>rat</b> scurries past the corner wall.
-# /Code