-# Edits - del & ins ---------------------------------------------------------
%p The <code>del</code> element is used to represent deleted or retracted text which still must remain on the page for some reason. Meanwhile its counterpart, the <code>ins</code> element, is used to represent inserted text. Both <code>del</code> and <code>ins</code> have a <code>datetime</code> attribute which allows you to include a timestamp directly in the element.

-# Example
= featureExample do
  %p She bought <del datetime="1996-01-01T12:05:25-02:00">two</del> <ins datetime="1996-01-02T12:05:25-02:00">five</ins> pairs of shoes.
-# /Example

-# Code
= featureCode do
  :numcode
    She bought <del datetime="1996-01-01T12:05:25-02:00">two</del> <ins datetime="1996-01-02T12:05:25-02:00">five</ins> pairs of shoes.
-# /Code