-# Stressed emphasis ---------------------------------------------------------
%p The <code>em</code> element is used to denote text with stressed emphasis, i.e., something you’d pronounce differently. Where italicizing is required for stylistic differentiation, the <code>i</code> element may be preferable.

-# Example
= featureExample do
  %p You simply <em>must</em> try the negitoro maki!
-# /Example

-# Code
= featureCode do
  :numcode
    You simply <em>must</em> try the negitoro maki!
-# /Code