-# Headings ------------------------------------------------------------------
%p A heading in HTML is a title or subtitle. Page headings are created with the <code>&lt;h1</i>&gt;</code> - <code>&lt;h6</i>&gt;</code> tags. Each headings level is smaller than previous. It's a good rule to respect hierarchy of headings.

-# Example
= featureExample do
  %h1 Level one heading
  %p Sint in expedita est officia expedita nihil error reiciendis eos rerum eligendi officia vero eum. occaecati enim vitae aut ad rem vitae eum sed corrupti accusamus voluptatem reiciendis. soluta est et est sunt nobis expedita dolorem totam architecto nobis perspiciatis et.

  %h2 Level two heading
  %p Sint in expedita est officia expedita nihil error reiciendis eos rerum eligendi officia vero eum. occaecati enim vitae aut ad rem vitae eum sed corrupti accusamus voluptatem reiciendis. soluta est et est sunt nobis expedita dolorem totam architecto nobis perspiciatis et.

  %h3 Level three heading
  %p Sint in expedita est officia expedita nihil error reiciendis eos rerum eligendi officia vero eum. occaecati enim vitae aut ad rem vitae eum sed corrupti accusamus voluptatem reiciendis. soluta est et est sunt nobis expedita dolorem totam architecto nobis perspiciatis et.

  %h4 Level four heading
  %p Sint in expedita est officia expedita nihil error reiciendis eos rerum eligendi officia vero eum. occaecati enim vitae aut ad rem vitae eum sed corrupti accusamus voluptatem reiciendis. soluta est et est sunt nobis expedita dolorem totam architecto nobis perspiciatis et.

  %h5 Level five heading
  %p Sint in expedita est officia expedita nihil error reiciendis eos rerum eligendi officia vero eum. occaecati enim vitae aut ad rem vitae eum sed corrupti accusamus voluptatem reiciendis. soluta est et est sunt nobis expedita dolorem totam architecto nobis perspiciatis et.

  %h6 Level six heading
  %p Sint in expedita est officia expedita nihil error reiciendis eos rerum eligendi officia vero eum. occaecati enim vitae aut ad rem vitae eum sed corrupti accusamus voluptatem reiciendis. soluta est et est sunt nobis expedita dolorem totam architecto nobis perspiciatis et.
-# /Example

-# Code
= featureCode do
  :numcode
    <h1>Level one heading</h1>
    <h2>Level two heading</h2>
    <h3>Level three heading</h3>
    <h4>Level four heading</h4>
    <h5>Level five heading</h5>
    <h6>Level six heading</h6>
-# /Code
