-# Italicised ----------------------------------------------------------------
%p The <code>i</code> element is used for text in an alternate voice or mood, or otherwise offset from the normal prose. Examples include taxonomic designations, technical terms, idiomatic phrases from another language, the name of a ship or other spans of text whose typographic presentation is typically italicised.

-# Example
= featureExample do
  %p There is a certain <i lang="fr">je ne sais quoi</i> in the air.
-# /Example

-# Code
= featureCode do
  :numcode
    There is a certain <i lang="fr">je ne sais quoi</i> in the air.
-# Code