-# Links and anchors ---------------------------------------------------------
%p The <code>a</code> element is used to hyperlink text, be that to another page, a named fragment on the current page or any other location on the web.

-# Example
= featureExample do
  %p <a href="/">Go to the home page</a> or <a href="#">return to the top of this page</a>.
-# /Example

-# Code
= featureCode do
  :numcode
    <a href="/">Go to the home page</a> or <a href="#target-id">return to the top of this page</a>.
-# /Code