-# Paragraphs ----------------------------------------------------------------
%p All paragraphs are wrapped in <code>p</code> tags. Additionally, <code>p</code> elements can be wrapped with a <code>blockquote</code> element <em>if the <code>p</code> element is indeed a quote</em>. Historically, <code>blockquote</code> has been used purely to force indents, but this is now achieved using CSS. Reserve <code>blockquote</code> for quotes.

-# Code
= featureCode do
  :numcode
    <p>Content...</p>
-# /Code