-# Pre-formatted text --------------------------------------------------------
%p The <code>pre</code> element represents a block of pre-formatted text, in which structure is represented by typographic conventions rather than by elements. Such examples are an e-mail (with paragraphs indicated by blank lines, lists indicated by lines prefixed with a bullet), fragments of computer code (with structure indicated according to the conventions of that language) or displaying <abbr title="American Standard Code for Information Interchange">ASCII</abbr> art. Here’s an example showing the printable characters of <abbr>ASCII</abbr>:

-# Example
= featureExample do
  %pre
    = preserve do
      :escaped
        ! " # $ % &amp; ' ( ) * + , - . /
        0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
        @ A B C D E F G H I J K L M N O
        P Q R S T U V W X Y Z [ \ ] ^ _
        ` a b c d e f g h i j k l m n o
        p q r s t u v w x y z { | } ~
-# /Example

-# Code
= featureCode do
  :numcode
    <pre>
      Preformatted text...
    </pre>
-# /Code