-# Inline quotes -------------------------------------------------------------
%p The <code>q</code> element is used for quoting text inline. Example showing nested quotations:

-# Example
= featureExample do
  %p John said, <q>I saw Lucy at lunch, she told me <q>Mary wants you to get some ice cream on your way home</q>. I think I will get some at Ben and Jerry’s, on Gloucester Road.</q>
-# /Example

-# Code
= featureCode do
  :numcode
    John said, <q>I saw Lucy at lunch, she told me <q>Mary wants you to get some ice cream on your way home</q>. I think I will get some at Ben and Jerry’s, on Gloucester Road.</q>
-# /Code