-# Strikethrough -------------------------------------------------------------
%p The <code>s</code> element is used to represent content that is no longer accurate or relevant. When indicating document edits i.e., marking a span of text as having been removed from a document, use the <code>del</code> element instead.

-# Example
= featureExample do
  %p <s>Recommended retail price: £3.99 per bottle</s><br/><strong>Now selling for just £2.99 a bottle!</strong>
-# /Example

-# Code
= featureCode do
  :numcode
    <s>Recommended retail price: £3.99 per bottle</s>
-# /Code