-# Sample output -------------------------------------------------------------
%p The <code>samp</code> element is used to represent (sample) output from a program or computing system. Useful for technology-oriented sites, not so useful otherwise.

-# Example
= featureExample do
  %p The computer said <samp>Too much cheese in tray two</samp> but I didn’t know what that meant.
-# /Example

-# Code
= featureCode do
  :numcode
    The computer said <samp>Too much cheese in tray two</samp> but I didn’t know what that meant.
-# /Code