-# Small print ---------------------------------------------------------------
%p The <code>small</code> element is used to represent disclaimers, caveats, legal restrictions, or copyrights (commonly referred to as ‘small print’). It can also be used for attributions or satisfying licensing requirements.

-# Example
= featureExample do
  %p <small>Copyright © 1922-2011 Acme Corporation. All Rights Reserved.</small>
-# /Example


-# Code
= featureCode do
  :numcode
    <small>Copyright © 1922-2011 Acme Corporation. All Rights Reserved.</small>
-# /Code