-# Strong importance ---------------------------------------------------------
%p The <code>strong</code> element is used to denote text with strong importance. Where bolding is used for stylistic differentiation, the <code>b</code> element may be preferable.

-# Example
= featureExample do
  %p <strong>Don’t</strong> stick nails in the electrical outlet.
-# /Example

-# Code
= featureCode do
  :numcode
    <strong>Don’t</strong> stick nails in the electrical outlet.
-# /Code