-# Superscript and subscript text --------------------------------------------
%p The <code>sup</code> element represents a superscript and the sub element represents a <code>sub</code>. These elements must be used only to mark up typographical conventions with specific meanings, not for typographical presentation. As a guide, only use these elements if their absence would change the meaning of the content.

-# Example
= featureExample do
  %p The coordinate of the <var>i</var>th point is (<var>x<sub><var>i</var></sub></var>, <var>y<sub><var>i</var></sub></var>). For example, the 10th point has coordinate (<var>x<sub>10</sub></var>, <var>y<sub>10</sub></var>).
  %p f(<var>x</var>, <var>n</var>) = log<sub>4</sub><var>x</var><sup><var>n</var></sup>
-# /Example

-# Code
= featureCode do
  :numcode
    This is the <sub>sub</sub> text.
    This is the <sup>superscript</sup>.
-# /Code