-# Time ----------------------------------------------------------------------
%p The <code>time</code> element is used to represent either a time on a 24 hour clock, or a precise date in the proleptic Gregorian calendar, optionally with a time and a time-zone offset.

-# Example
= featureExample do
  %p Published on <time datetime="1952-06-02T12:05:25-02:00">6 February 1952</time>, updated on <time datetime="1952-07-02T12:05:25-02:00">7 February 1952</time>.
-# /Example

-# Code
= featureCode do
  :numcode
    Published on <time datetime="1952-06-02T12:05:25-02:00">6 February 1952</time>, updated on <time datetime="1952-07-02T12:05:25-02:00">7 February 1952</time>.
-# /Code