.ads-banner
  %a{ :href => '#', :title => 'Advertisement banner' }
    %img{ :src => 'http://www.responsiveads.com/wp-content/uploads/2012/11/zippo-logo.png', :border => '0', :alt => 'Advertisement' }
  %a.ads-banner--caption{ :href => '#', :title => 'Advertisement caption' } Caption

.ads-banner
  %a{ :href => '#', :title => 'Advertisement banner' }
    %img{ :src => lorem.image('125x125'), :border => '0', :alt => 'Advertisement' }
  %a.ads-banner--caption{ :href => '#', :title => 'Advertisement caption' } Caption

.ads-banner
  %a{ :href => '#', :title => 'Advertisement banner' }
    %img{ :src => lorem.image('250x250'), :border => '0', :alt => 'Advertisement' }
  %a.ads-banner--caption{ :href => '#', :title => 'Advertisement caption' } Caption
