%ul.widget-list
  %li.widget-list--item
    %a{ :href => '#' }
      May
      %span.widget-list--counter 12
  %li.widget-list--item
    %a{ :href => '#' }
      June
      %span.widget-list--counter 18
  %li.widget-list--item
    %a{ :href => '#' }
      July
      %span.widget-list--counter 24
  %li.widget-list--item
    %a{ :href => '#' }
      August
      %span.widget-list--counter 15
  %li.widget-list--item
    %a{ :href => '#' }
      September
      %span.widget-list--counter 7