%ul.widget-list
  %li.widget-list--item
    %a{ :href => '#' }
      Design
      %span.widget-list--counter 12
  %li.widget-list--item
    %a{ :href => '#' }
      Inspiration
      %span.widget-list--counter 18
  %li.widget-list--item
    %a{ :href => '#' }
      Freebie
      %span.widget-list--counter 40
    -# Sublist example
    %ul
      %li.widget-list--item
        %a{ :href => '#' }
          PSD's & PNG's
          %span.widget-list--counter 22
      %li.widget-list--item
        %a{ :href => '#' }
          Arts
          %span.widget-list--counter 6
      %li.widget-list--item
        %a{ :href => '#' }
          Icons
          %span.widget-list--counter 12
  %li.widget-list--item
    %a{ :href => '#' }
      Coding
      %span.widget-list--counter 34
  %li.widget-list--item
    %a{ :href => '#' }
      Other
      %span.widget-list--counter 16