%ul.widget-list
  %li.widget-list--item.widget-contact--address
    123 Main Street Los Angeles, CA, 94101
  %li.widget-list--item.widget-contact--phone
    :preserve
      <strong>Phone:</strong> +1 123-23-123
  %li.widget-list--item.widget-contact--fax
    :preserve
      <strong>Fax:</strong> +1 123-23-123
  %li.widget-list--item.widget-contact--email
    %a{ :href => 'mailto:#' } info@company.com