%form.widget-search--form{ :action => '.', :method => 'post' }
  %input.widget-search--submit.btn{ :type => 'submit', :value => 'Search' }

  \

  .widget-search--search--query-wrapper
    %input.widget-search--query{ :type => 'text', :name => 'search-query', :placeholder => 'Search query...' }
