%ul.widget-social-list--list
  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-twitter
      %span.screen-reader-text Twitter

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-facebook
      %span.screen-reader-text Facebook

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-linkedin
      %span.screen-reader-text Linked In

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-google-plus
      %span.screen-reader-text Google Plus

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-pinterest
      %span.screen-reader-text Pineterst

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-blogger
      %span.screen-reader-text Blogger

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-delicious-sign
      %span.screen-reader-text Delicious

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-evernote
      %span.screen-reader-text Evernote

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-flickr
      %span.screen-reader-text Flickr

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-github
      %span.screen-reader-text Github

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-lastfm
      %span.screen-reader-text Lastfm

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-picasa
      %span.screen-reader-text Picasa

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-reddit
      %span.screen-reader-text Reddit

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-skype
      %span.screen-reader-text Skype

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-soundcloud
      %span.screen-reader-text Soundcloud

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-spotify
      %span.screen-reader-text Spotify

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-tumblr
      %span.screen-reader-text Tumblr

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-vimeo
      %span.screen-reader-text Vimeo

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-wordpress
      %span.screen-reader-text Wordpress

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-yahoo
      %span.screen-reader-text Yahoo

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-yelp
      %span.screen-reader-text Yelp

  %li.widget-social--item
    %a{ :href => '', :title => 'Link title' }
      %i.icon-youtube
      %span.screen-reader-text Youtube