.grid-row
  .grid-span-4
    =widget( 'tags-list', 'Tags list' )
  .grid-span-4
    =widget( 'archive-list', 'Archive' )
  .grid-span-4
    =widget( 'feeds-list', 'RSS Feeds' )

.grid-row
  .grid-span-4
    =widget( 'links-list', 'Links' )
  .grid-span-4
    =widget( 'categories-list', 'Categories' )
  .grid-span-4
    =widget( 'comments-list', 'Comments list' )

.grid-row
  .grid-span-4
    =widget( 'posts-list', 'Posts list' )
  .grid-span-4
    =widget( 'comments', 'Comments' )
  .grid-span-4
    =widget( 'posts', 'Posts' )

.grid-row
  .grid-span-4
    =widget( 'gallery', 'Gallery' )
  .grid-span-4
    =widget( 'text', 'Flickr Gallery' )
  .grid-span-4
    =widget( 'portfolio', 'Portfolio' )

.grid-row
  .grid-span-4
    =widget( 'slideshow', 'Slideshow' )
  .grid-span-4
    =widget( 'video', 'Video' )
  .grid-span-4
    =widget( 'map', 'Map' )

.grid-row
  .grid-span-4
    =widget( 'contact-form', 'Contact form' )
  .grid-span-4
    =widget( 'search', 'Search' )
  .grid-span-4
    =widget( 'newsletter', 'Newsletter' )

.grid-row
  .grid-span-4
    =widget( 'social-list', 'Social' )
  .grid-span-4
    =widget( 'tabs', 'Tabs' )
  .grid-span-4
    =widget( 'advertising', 'Advertising' )

.grid-row
  .grid-span-4
    =widget( 'tags', 'Tags' )
  .grid-span-4
    =widget( 'testimonials', 'Testimonials' )
  .grid-span-4
    =widget( 'text', 'Text' )

.grid-row
  .grid-span-4
    =widget( 'tweets', 'Tweets' )
  .grid-span-4
    =widget( 'tweets-list', 'Tweets list' )
  .grid-span-4
    =widget( 'contact', 'Contact information' )

.grid-row
  .grid-span-4
    =widget( 'calendar', 'Calendar' )