-# Fancy header --------------------------------------------------------------
%p Fancy headers are designed as additional (non standart) headers for clear division some sort of sections. They has no any additional HTML semantic meaning.

-# Example
= featureExample do
  %h3.header-fancy Molestiae unde dolores.
-# /Example

-# Code
= featureCode do
  :numcode
    <h3 class="header-fancy">Content...</h3>
-# /Code


-# Fancy header 2 ------------------------------------------------------------
%p Example of another type of fancy header.

-# Example
= featureExample do
  %h3.header-fancy-2 Molestiae unde dolores.
-# /Example

-# Code
= featureCode do
  :numcode
    <h3 class="header-fancy-2">Content...</h3>
-# /Code
