-# Lead text -----------------------------------------------------------------
%p The <code>lead-text</code> indicates important part of the content. It may be an intro to an article or any other piece of content which should get more attention.

-# Example
= featureExample do
  %p.text-lead Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-lead">Content...</p>
-# /Code